body {
    margin: 10px;
  }
  .preferences {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid green;
  }
  .options {
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
  }
  .paragraph {
    display: flex;
  }