@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Fira Code', monospace;
}

header {
    display: flex;
    flex-direction: column;
}

#headerSection {
    width: 50%;
}

main {
    border: 1px solid blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 75%;
    height: 50%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.06);
    overflow: auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
    border-radius: 10px;
}

h1 {
    color: #FFFFFF;
}

#cambio {
    color: #95EBA8;
}

#pesquisar {
    background-color: #96EB95;
    color: #373737;
    font-weight: 700;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
}

.currencyDiv {
    display: flex;
    align-items: center;
    padding: 0.4%;
}

.currencyDiv img {
    margin-right: 0.5rem;
}

div span {
    color: rgba(255, 231, 19, 1);
}