.title {
    background-color: #53abe7;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-top: 24px;
    padding: 16px 8px;
  }
  
  .title s {
    color: #a9d4f3;
  }
  