.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
  left: 70px;
}

.baloon {
  position: absolute;
  left: 300px;
  top: 250px;
}

.speach {
  font-size: 25px;
  
}

.bowser {
  width: 200px;
  position: absolute;
  top: 400px;
  left: 600px;
}