body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
 border: none;
 border-radius: 5px;
 padding: 10px 40px;
 background-color: #41f06a;
 color: white;
 font-weight: bolder;
 cursor: pointer;
}

main div {
    min-height: 480px;
}