body {
    display: flex;
    justify-content: center;
    text-align: center;
}

main {
    min-width: 80%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.6);
    background-color: black;
}

#imageSection {
    margin-top: 5%;
}

#petImage {
    border: 10px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.5);
}