.setBorderHover:hover{
    border: 1px solid red;
}

#yellowColor{
    background-color: yellow;
}

#orangeColor{
    background-color: orange;
}

#PurpleColor{
    background-color: purple;
}

#midnightBlueColor{
    background-color: midnightblue;
}

#aquaColor{
    background-color: aqua;
}

h3{
    color: yellowgreen;
    font-family: monospace;
}