main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:rgba(199, 235, 179, 0.907);
}

h1 {
    text-align: center;
}

h3 {
    margin-left: 80%;
    color: blueviolet;
}

section {
    text-align: center;
}

#error {
    color: red;
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(53, 53, 244, 0.657);
    padding: 7px;
    font-weight: bolder;
    cursor: pointer;
}